/*Version 01101400*/
.loginpage{ 
	
	height:100vH;
	width:100%;
	max-width:100%;
	padding:0;
	background-image:url('/images/branding/homebgs/cloudbasebgimage.jpeg');
	background-position:center; 
	background-size:cover
}

.mainpage{
     overflow-y: hidden !important;
     color:white;
     min-height:100vh;
     max-width:100%;
     padding:0 !important;
     background-color:#2a363f;
     
     background-image:url('/images/grid.png');
     background-size:4.6875rem;
     background-repeat: repeat;
     background-attachment:fixed;
     font-family:'Chakra Petch';
}

.overlay{
     position:fixed; 
     width:100%;
     height:100%;
     background:linear-gradient(rgba(255,255,255,0.15), rgba(0,0,0,0));
}

.header{
	max-width:100% !important; 
	position:fixed;
	background-color:rgba(28,38,47,.95); 
	height:65px;
	padding-top:5px;
	z-index:999;
}

.fullscreencont{
	position: fixed; 
	left:0;
	top:0px;
	max-width:100%;
	height: 100vh;
	background-color: red;
}

.fullscreencont2{
	position: absolute;
	left:20px;
	width:10%;
	min-width:100px;
	bottom:62px;
	
}

.fullscreencont2 h6{
	font-size:0.7em;
}

.homebrand{
	position: absolute;
	bottom:30px;
	right:30px; 
}

.homebrand img{
	height:55px;
	padding:5px;
}


.brandcont{
	position:absolute;
	width:200px;
	right:0px;
	top:10px;
	z-index:9999;
}

.brandcont img{
	height:60px;
	padding:5px;
}

.leafletbuttons{
	position:absolute; 
	bottom:15px;
	left:35px;
	z-index:999;  
}

.leafletcluster{
	display: inline-block;
	width: 3.75em;
	height: 3.75em;
	border-radius: 50%;
	box-shadow: 0 .075em .2em .05em rgba(0,0,0,.25);
	background-origin: border-box;
}
                   

.btn-outline-success {
    border-color: #3cd2a5 !important;
	color:#3cd2a5 !important; 
 }

.chartholder {
  flex-grow: 1;
  min-height: 0;
}

.mainpagecont{
     max-width:90%;
     margin-left:5%;
     color:rgba(255,255,255,1.5);   
}

.addrowpage{
	min-height:300px; 
	width:100%;
/*	border:1px solid green;*/
}

.sectioncontcard{
    padding-left:3%;
    padding-right:3%;
    padding-bottom:3%;
    min-height:100px;
}

.sitbottom{
    position:absolute;
    bottom:10px;
}

.navmenubutton{
	position: absolute;
	top:20px;
	left:20px;
	z-index:999;
}

.navicons{
	color:white;
	font-size:1.7em;
	
}

.navicons:hover{
	color:rgba(255,255,255,0.5);
}

.bicon{
	margin-right:5px;
}

.dicon{
    font-size:1.3em;
    margin-right:15px;
}

.leaflet-control-container{
    display:none !important;
}

.logo{
    width:200px;
    height:auto;
}

.clicktitle:hover{
    color:rgba(255,255,255,1);
    cursor:pointer;
}

.box{
    border:1px solid rgba(255,255,255,.5);
    min-height:190px;
    height:100%;
}

.boxsm,.boxsmnoclick{
    border:1px solid rgba(255,255,255,.5);
	height:100%;
}
.boxsm2{
    border:1px solid rgba(255,255,255,.5);
    width:auto;
}

.box:hover,.boxsm:hover{
    border:1px solid rgba(60,210,165,1);
    cursor:pointer;
    transition: border 1s;
}

.boxtitle{
	position:absolute;
	top:18px;
	left:33px;
}

.card-arrow-top-left{
    position:absolute;
    background-image:url('/images/corner-top-left.png');
    height:14px;
    width:14px;
    margin-left:-2px;
    margin-top:-2px;
}

.card-arrow-top-right{
    position:absolute;
    background-image:url('/images/corner-top-right.png');
    height:14px;
    width:14px;
    right: 0px;
    margin-right: 15px;
    margin-top:-2px;
}

.card-arrow-bottom-left{
    position:absolute;
    background-image:url('/images/corner-bottom-left.png');
    height:14px;
    width:14px;
    margin-left:-2px;
    bottom: 0;
}

.card-arrow-bottom-right{
    position:absolute;
    background-image:url('/images/corner-bottom-right.png');
    height:14px;
    width:14px;
    right: 0px;
    margin-right: 15px;
    bottom: 0;
}


.colsm{
    width:30%;
    font-size:0.8em;
}
.colbg{
    width:70%;
    font-size:0.8em;
}

.nowrap{white-space:nowrap;}
.widecol{width:40%;}
tr:hover{cursor:pointer;}

.textsmall{
    font-size:0.8em;
}

.tooltip-inner{background: #9FDAEE; border: 1px solid #2BB0D7;color:black;}
.is-danger{border:2px solid red !important;}

.rowClassSm{
    font-size:0.8em;
	border-top-style: ridge;
}

.buttonactive{
  background-color:#333333 !important;
  color:white !important;
}

.buttonnotactive{
  background-color:#cccccc !important;
  color:black !important;
}

.buttonactivegreen{
  background-color:#333333 !important;
  color:white !important;
}

.buttonnotactivegreen{
  background-color:#cccccc !important;
  color:black !important;
}

.progressloader{
     position:absolute;
     top:65px; 
     width:100%;
     height:1px;
     background-color:rgba(51, 51, 51, 0.8);
}

.meter { 
    height: 3px;
    position: relative;
    background: transparent;
    overflow: hidden;
}


.progress {
    background-color:rgba(51, 51, 51, 0.8);
    width:0%;
    display: block;
    height: 100%;
    /* animation: grow100 2s normal; */
}

.lineon{
    animation: grow100a 1s normal;
}

.lineoff{
    animation: grow100b 1s normal;
}

@keyframes grow100a {
    	0% {width: 0%;background-color: #5bc89c;}
        50% {width: 70%;background-color: #5bc89c;}
        100% {width: 100%;background-color: #5bc89c;}
}

@keyframes grow100b {
    	0% {width: 0%;background-color: #5bc89c;}
        50% {width: 70%;background-color: #5bc89c;}
        100% {width: 100%;background-color: #5bc89c;}
}

.dataind{
    float:right;
    /* height:20px;
    width:20px;
    border-radius:15px;
    background-color: #58c098;
    transform: scale(0); */
}

.flashon{
    transform: scale(0);
    animation: pulsei 1s normal;
}

.flashoff{
    transform: scale(0);
    animation: pulseii 1s normal;
}

@keyframes pulsei {
        0% {transform: scale(0);}
        100% {transform: scale(1);}
}

@keyframes pulseii {
   	0% {transform: scale(0);}
    100% {transform: scale(1);}
}

.rtmarker{
  width:15px;
  height:15px; 
  border-radius:7.5px;
  background-color: white;  
  display: inline-block;  
}

.rtmarkerexpiry{
   
	border-radius:5px;
    text-align: center;
	padding-top:1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px; 
	color:white;
}

.statussquare{
    float:left;
    width:15px;
    height:15px;
    margin-right:5px;
}

.square{
    float:left;
    margin-right:10px;
    height:15px;
    width:15px; 
    
}

.satmarkerhold{
  position:absolute;
 
	
}

.markerhold{
  position:absolute;
  width:10px;
  height:10px;
  border-radius:5px;
  z-index:999;
  
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {transform: scale(0.70);}
  70% {transform: scale(1.1);}
  100% {transform: scale(0.70);}
}

.mapname{
	margin-top:15px;
	font-size: 0.8em;
	margin-left:-50px;
	transform: scale(1.1) !important;
}

.field-input{
    background-color:#212529 !important;
    font-size:0.9em;
    color:white !important;
}
.custom-select {
  background: #212529 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='aqua' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px !important;
  font-size:0.9em;
  color:#ffffff !important;
}

.darkinput,.darkinput2{ 
    background-color:#212529 !important;
    color:#ffffff !important;
	font-family:'Chakra Petch' !important;
/*    font-size:0.8em !important;*/
}

 

.darkinput2{
    background-color:#676b6c !important;
}



.customPagination .page-item,.customPagination .page-link{ 
    background-color: transparent !important;
    color: #53c16b !important;
    }  

.customPagination  .page-item:active{ 
    color: white !important;
    background-color:black !important;
    border-color: white !important;
    }
    
.customPagination  .page-item:disabled{ 
    background-color: #343a40;
    }   


.fsicon{
    margin-right:8px;
    margin-top:8px;
    float:right;
    color:rgba(255,255,255,0.5);
}
.fsicon:hover{
   color:rgba(255,255,255,1); 
}
.table-dark{
    background-color:transparent !important;
}
.rowHClass{
    font-size:0.8em;
    color:rgba(255,255,255,0.5);
    background-color:rgba(33,37,41,0) !important;
}

.rowClass{
    font-size:0.8em;
	border-top-style: ridge;
/*    background-color:rgba(33,37,41,0) !important;*/
}

.rowClass:hover{
    color:rgba(255,255,255,0.5) !important; 
    font-size:0.8em;
    cursor:pointer;
}

.rowWClass{
    font-size:0.8em;
/*    background-color:rgba(33,37,41,0) !important; */
	overflow-wrap:anywhere;
}

.rowWClass:hover{
    color:rgba(255,255,255,0.5) !important;
    font-size:0.8em;
    cursor:pointer;
}

.darkmodal{
    background-color:rgba(33,37,41,0.9) !important;
    color:rgba(255,255,255,0.5) !important;
    border:1px solid #eeeeee;
    border-radius:15px;
}

.modal-header .close{
    color:aqua;
}

.modal-content{
	border:2px solid rgba(255,255,255,0.7) !important;
	border-radius:10px;
}

.input-group-text{
    background-color:transparent !important;
    color:#48a1ba;
    
}

.sectioncont{
    background-color:rgba(33,37,41,0);
    padding:3%;
}

.sectioncont h5{
    color:#48A1BA;
}

.assignbutton{
    height:23px;
    padding:0 !important;
    padding-left:8px !important;
    padding-right:8px !important;
    
}

.xsbutton{
    height:23px;
    width:40px;
    padding:0 !important;
    float:right;
}

.stageselectmain{
	width:100%;
	padding-Left:10%;
}

.stageselectbox{
	position: relative;
	float:left;
	width:14%;
	text-align: center;
}

.stageSelect{
	position:relative;
	left:50%;
	margin-left:-25px;
	border:2px solid white;
	width:50px;
	height:50px;
	font-size:1.7em;
	border-radius:50%;
	color:white;
	padding-top:1px;
	margin-bottom:5px;
}

.stageselectline{
	position: relative;
	float: left;
	top:24px;
	border-bottom: 2px solid rgba(255,255,255,0.5);
	width:10%;
}

.stageselecttext{
	font-weight: 300;
}

.stageselecttextsel{
	font-weight: bold;
}

.stageselectlinecomp{
	position: relative;
	float: left;
	top:24px;
	border-bottom: 5px solid green;
	width:10%;
}

.stageactive{
	border:3px solid white;
}

.stagecomp{
	border:3px solid green;
}

/*
.form-control{
	background-color:#676b6c !important;
    color:white !important;
    border-color:rgba(255,255,255,0.5) !important;
}
*/

.form-control:focus{
	box-shadow: 0 0 0 0.1rem rgb(60 210 165 / 25%) !important;
}


.darksearch{
    background-color:#676b6c !important;
    color:white !important;
    border-color:rgba(255,255,255,0.5) !important;
	cursor:pointer;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #ced4da;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #212529 inset;
  transition: background-color 5000s ease-in-out 0s;
 }

input:-webkit-autofill:focus{
	-webkit-text-fill-color: white;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
   height: 13px;
   width: 13px;
   background: url("data:image/svg+xml;charset=UTF-8,%3csvg viewPort='0 0 12 12' version='1.1' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='1' y1='9' x2='9' y2='1' stroke='white' stroke-width='2'/%3e%3cline x1='1' y1='1' x2='9' y2='9' stroke='white' stroke-width='2'/%3e%3c/svg%3e");
}

.forgotpw{
    background:rgba(0,0,0,0.5);
    color:white;
    border-radius:20px;
}
.forgotpw a{color:#cccccc;}
.forgotpw a:hover{color:white;text-decoration:none;}

.restpwbox{
    background:rgba(0,0,0,0.5);
    color:white;
    border-radius:20px;
}

.invalid-feedback{
	display: block !important;
	position:relative;
	width:100%;
	color:red !important;
	font-size: 1em !important;
	margin-bottom: 10px !important;
}

.loginbox{
    background-color:rgba(0,0,0,0.5) !important;
    color:white;
    border-radius:20px;
}

.bg-dark{background-color: #303e4f !important;}
.profilepic{
  height:30px;
  width:30px;
  border-radius:15px;
  background-color: white;
}

.closepopup{
    margin-top:10px;
    margin-right:10px;
    float:right;
    font-size:1.2em;
    color:rgba(255,255,255,0.5);
}
.closepopup:hover{
    color:rgba(255,255,255,1);
}    
.nav li,.logout{
     margin-bottom:9px;
     width:100%;
     font-size:1em;
     color:rgba(255,255,255,0.5);
}
.nav li a{
    color:rgba(255,255,255,0.5);
    text-decoration:none;
}
.nav li a:hover,.logout:hover{
    color:rgba(255,255,255,1);
    cursor:pointer;
}
.dropdown-toggle::after{
    float:right;
    margin-top:10px;
}

.dropdown-menu{
    position:relative !important;
    background-color:transparent !important;
    transform:none !important;
    margin-left:37px;
    transform-origin: top center;
	float:none !important;
}

/*
.dropdown-menu li{
    transform : translateX(-6em);
    transform-origin: top center;
}
*/

.selbox{
	border:1px solid rgba(255,255,255,.5);
	border-radius:5px;
}

.selbox:hover{
	border:1px solid rgba(255,255,255,.8);
	cursor: pointer;
}

.headline{
  	position:relative;
  	float:left;
  	color:white;
  	top:6px;
	font-size:0.6em;	
  	background-color:white;
  	padding-top:3px;
	padding-left:5px;
  	padding-right:5px;
  	white-space:nowrap;
  	text-align:center;
 
}

.pietest  {
  display: inline-block;
  width: 3.75em;
  height: 3.75em;
  border-radius: 50%;
  border: .15em solid #fff;
  box-shadow: 0 .075em .2em .05em rgba(0,0,0,.25);
  background-origin: border-box; 
	background-image: conic-gradient(
    #d44 72deg,  
    #fc3 0 234deg,
    #ac0 0
  );
	
}


.xpietest{
	
}

.cmarker{
	position: absolute;
	height: 2.5em;
    width: 2.5em;
	border-radius: 50%;
	background-color: black;
	color:white;
	text-align: center;
	left: 0.7em;
	top:0.7em;
	padding-top:0.45em;
	
}

.dropdown_item-1{animation: slideright 200ms 30ms ease-in-out forwards;}  
.dropdown_item-2{animation: slideright 200ms 60ms ease-in-out forwards;} 
.dropdown_item-3{animation: slideright 200ms 90ms ease-in-out forwards;} 
.dropdown_item-4{animation: slideright 200ms 120ms ease-in-out forwards;}
.dropdown_item-5{animation: slideright 200ms 150ms ease-in-out forwards;}
.dropdown_item-6{animation: slideright 200ms 180ms ease-in-out forwards;}

@keyframes slideright {
    from { transform : translateX(-6em) } /* slide down from off-screen */
    to   { transform : translateX(0em) }
}


.dropdown-menu li:hover,.nav li:hover{
    color:rgba(255,255,255,1);
    cursor:pointer;
}
.dropdown-menu .sidemenuicon{
        margin-right:15px;
        font-size:21px;
        }
.sidemenuicon{
        margin-right:15px;
        font-size:15px;
        color:rgba(255,255,255,0.5);
        }
.sidemenuiconsel{
        color:#3cd2a5;
        }        
.sidemenuicon2{
        margin-right:15px;
        font-size:25px;
        }
.submenuactive{
        color:rgba(255,255,255,1) !important;
    }
    
.slide-enter-active,
.slide-leave-active
    {
        transition: transform 0.2s ease;
    }

.slide-enter,
.slide-leave-to {
        transform: translateX(-100%);
        transition: all 150ms ease-in 0s
    }

.sidebar-panel {
        overflow-y: hidden;
        position: fixed;
        left: 0;
        top: 0vh;
        height: 100vh;
        z-index: 998;
        padding:3%;
        padding-top:30px;
		min-width:300px;
		max-width: 300px;
    	margin-top:50px;	
    }

.sidebar-panel li,.sidebar-panel .dropdown li,.sidebar-panel .dropdown-toggle{
	margin-bottom:10px;
}

.nodatabox{
	position: absolute;
	text-align: center;
	left:50%;
	margin-left:-100px;
	width:200px;
	
	top:30%;
	background-color: red;
	
}

.mainbutton{
	min-width:160px;
}

/*
.setmenudesktop{
    min-width:300px;
    background-color:transparent;
    margin-top:50px;
}

.setmenumobile{
	min-width:300px;
    background-color:black; 
    margin-top:50px;
}*/

@media only screen and (max-width: 800px) {
	
	.nav{
		width:300px;
	}
	
  	.container,.container-fluid {
    	padding-right:0 !important;
		padding-left:0 !important;  
 	}
	
	.sidebar-panel{
		background-color: rgba(0,0,0,0.8) !important;
		max-width:100% !important;
		width:100%;
	}	
	
  	.sidebar-panel li,.sidebar-panel .nav li,.sidebar-panel .dropdown li,.sidebar-panel .dropdown-toggle{
		margin-bottom:15px;
		font-size: 1.2em; 
	}	
}
